body {
    background-color: #f9f8f7;
}

#comparsion {
    background-color: #f3f2f1;
}

.table td {
    font-size: 14px;
}

#comptable.container {
    max-width: 700px;
}

.doublepayback {
    background-image: url(../assets/images/headers/fullpage/palkyle-bg.svg);
    background-size: cover;
}

.doublepaytop {
    background-image: url(../assets/images/headers/fullpage/palkyle-fg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.paymenttext a {
    margin-top: 0px;
    font-weight: 200;
    color: #fff;
}

.paymenttext p {
    margin-top: 0px;
    font-weight: 200;
    color: #fff;
}

.paymenttext h1 {
    margin-bottom: 20px;
    font-weight: 300;
    color: #fff;
}

.tinyarrow {
    background-image: url(../assets/images/icons/small/arrow-white.svg);
    background-repeat: no-repeat;
    padding-right: 30px;
}

.logoheader {
    position: absolute;
    top: 50;
    left: 750;
}

#h1p {
    color: #000000;
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
}

#h2p {
    color: #000000;
    text-align: center;
    font-size: 29px;
    font-weight: 300;
}

#p1c {
    text-align: right;
    box-align: center;
}