body {
    background-color: #f9f8f7;
}

.table-borderless>tbody>tr>td,
.table-borderless>tbody>tr>th,
.table-borderless>tfoot>tr>td,
.table-borderless>tfoot>tr>th,
.table-borderless>thead>tr>td,
.table-borderless>thead>tr>th {
    border: none;
    line-height: 8px;
}

/* võetud githubist näitab, et ükski üleminek ei tekita joont */

.footer {
    background-color: #f3f2f1;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: lightgray;
    margin-left: 10px;
}

.carousel-indicators .active {
    background-color: gray;
}

.carousel-indicators {
    bottom: -50px;
}


.btn.btn-dark {
    font-size: 11px;
    margin-left: 10%;
}

.nowrap {
    white-space: nowrap;
}

.lnavbar {
    font-size: 11px;
    margin-top: 5%;
    line-height: 20px;
    margin-right: 40%;
}

.lnavbar li a {
    color: #000;
    text-decoration: none;
    /* võtab ära joone teksti all */
}

.rnavbar a {
    color: #000;
    text-decoration: none;
    margin-left: 10%;
}

.rnavbar {
    margin-top: 5%;
    margin-right: 40px;
    font-size: 11px;
    margin-left: 40%;
}

.logo {
    margin-left: 10%;
    margin-top: 35px;
    align-self: flex-start;
}

.navbar {
    background-color: #f3f2f1;
    height: 60px;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    float: none;
    text-align: center;
    left: 20%;
    margin-left: 20px;
    margin-top: -20px;
}

.menu-table ul {
    list-style-type: none;
}

.menu-table li a {
    color: #000;
    text-decoration: none;
    text-align: right;
}

.comparsion {
    background-color: #f3f2f1;
    height: 700px;
    padding-top: 40px
}

.table td {
    font-size: 14px;
}

.doublepayback {
    background-image: url(../assets/images/headers/palkyle-bg.svg);
    background-size: cover;
    height: 500px;
}

.doublepaytop {
    background-image: url(../assets/images/headers/palkyle-fg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.paymenttext a {
    margin-top: 0px;
    font-weight: 200;
    color: #fff;
}

.paymenttext p {
    margin-top: 0px;
    font-weight: 200;
    color: #fff;
}


.paymenttext h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #fff;
    text-align: left;
}

.childaccount {
    background-image: url(../assets/images/headers/LK-bg.svg);
    background-size: cover;
    height: 500px;
}

.childclouds {
    background-image: url(../assets/images/headers/LK-fg.svg);
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
}

.childphone {
    background-image: url(../assets/images/headers/LK-iphone-et.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.bankstuff {
    background-image: url(../assets/images/headers/ariklient-bg.svg);
    background-size: cover;
    height: 500px;
}

.banktext {
    text-align: center
}

.pension {
    background-image: url(../assets/images/headers/pension-tulevik-bg.svg);
    background-size: cover;
    height: 500px;
}


a.arrow::after {
    content: ' →';
    background-repeat: no-repeat;
    text-decoration: none;
    text-transform: none;
    line-height: 1.4
}

.comparsion h1 {
    color: #000000;
    text-align: center;
    font-size: 26px;
}

.payments h2 {
    color: #000000;
    text-align: center;
    font-size: 29px;
    font-weight: 300;
}

.payments h1 {
    color: #000000;
    text-align: center;
    font-size: 26px;
}

#blog.container {
    margin-top: 100px;
    height: 450px;
}

.footer {
    height: 500px;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column h2 {
    font-weight: 300;
    font-size: 25px;
}

.podcast {
    list-style: none;
    padding-left: 0;
}
.podcast li {
    position: relative;
    padding-left: 30px;
    line-height: 35px;
}
.podcast li:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url('../assets/images/icons/play-video.svg');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.podcast li a {
    color: #000;
}